<!-- Footer -->
<footer class="page-footer" style="background-color: #e3f2fd;text-align: end;">

    <!-- Footer Links -->
    <label style="padding-right: 20px;">Version: 1.2.0</label>
    <button *ngIf="isLoggedIn()" class="btn btn-primary" style="margin-top: 10px;" (click)="Logout()">Logout</button>
    <!-- Footer Links -->
  
    <!-- 
        Copyright
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>
    Copyright -->
  
  </footer>
  <!-- Footer -->